<h1>Edit an article</h1>

<!-- when we fail at creating a new article for what ever reason (i.e. we dont enter a title) it is redirected to reload this 'new' page so at the top of the page display errors if any from the @article object -->
<% if @article.errors.any? %>
  <h2>The following errors prevented the article from being edited</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @article do |f| %>
  <!-- Creates the label for the title and a text field to enter in a title -->
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  
  <!-- Creates the label for the description and a text AREA to enter in a description -->
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  
  <!-- Creates a submit button for the articles table -->
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to "Back to Articles listing", articles_path %>